.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#aboutImg {
  width: 100%;

}




a {
  color: inherit;
  text-decoration: none;
}


html,
body {
  padding: 0;
  margin: 0;
}

