@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aboutImg {
  width: 100%;
}

.carouselCard {
  width: 500px;
  height: 300px;
}

a {
  color: inherit;
}

.categoryBackground {
  height: 500px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-text {
  position: relative;
  h2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 30%);
    font-size: 100px;
    color: white;
  }

  p {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 105%);
    font-size: 24px;
    color: white;
    width: 65vh;
    margin: 0;
    padding: 0;
  }
}

#gearBackground {
  background-image: url("/blogmaterials/gear/gear_category.jpg");
}

#hitchhikingBackground {
  background-image: url("/blogmaterials/gear/gear_category.jpg");
}

//enter new style above
