.styled-heading {
  font-family: "Yellowtail", cursive;
  color: rgb(221, 221, 216);
  font-size: 45px;
}

#aboutImg {
  width: 100%;
  border: 2px;
}

.textWhite {
  color: white;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}
