.storiesCategoryHeading {
  margin-top: 35px;
  margin-bottom: 40px;
  font-family: "Itim", cursive;
  font-size: 60px;
  color: #f0fff0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #747474;
  text-shadow: 1px 4px 4px #272727;
}

.featuredCardHeader {
  text-align: center;
  font-size: 35px;
  font-family: "Sriracha", serif;
}

.culinaryCard {
  background-color: #f3d250;
}
.gearCard {
  background-color: #708238;
}
.hitchhikingCard {
  background-color: #ca3433;
}
.volunteerCard {
  background-color: #0080fe;
}

.allStoriesHeader {
  font-family: "Chelsea Market", cursive;
  color: #fff0f5;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #747474;
  text-shadow: 1px 4px 4px #272727;
  font-size: 53px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.sortButtons {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.sortBtnDate {
  font-family: "Handlee", cursive;
}

.sortBtnCat {
  font-family: "Sriracha", serif;
}

.sortBtnLocation {
  font-family: "Courgette", cursive;
}

.allCard {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  .allCardHeader {
    font-family: "Kalam", cursive;
    font-size: 42px;
    margin-top: 17px;
    text-shadow: 1px 1px 2px black, 0 0 1em #ececec, 0 0 0.2em #ececec;
    text-align: "center";
  }
  a {
    .allCardImg {
      border-radius: 35px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }
  .allCardTextBg {
    background-color: #e7e3d4;
    opacity: 0.85;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .allCardText {
    font-family: "Be Vietnam", sans-serif;
    font-size: 19px;
    text-align: center;
    text-shadow: 0px 1px 1px;
  }
  .card-body {
    padding-top: 10px;
    .allCardLocation {
      font-family: "Courgette", cursive;
      margin-top: 25px;
      margin-bottom: 0px;
      font-size: 24px;
    }
    .allCardDate {
      font-family: "Handlee", cursive;
      font-size: 17px;
      margin-top: 0;
    }
  }
}

.cardColumn {
  margin-top: 15px;
  @include media-breakpoint-up(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

.slide-up-appear {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;

  &.slide-up-appear-active {
    opacity: 1;
    transform: translateY(0px);
  }
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-in;
}

.currentPageHighlight {
  opacity: 0.7;
}

.paginationRow {
  margin-top: 70px;
}

////////

@media (min-width: 576px) and (max-width: 768px) {
  .storiesCategoryHeading {
    font-size: 80px;
  }
  .featuredCatDeck {
    display: block;
    .featuredCatCard {
      margin-bottom: 15px;
    }
  }
  .featuredCardHeader {
    font-size: 60px;
    margin-top: 40px;
  }
  .allStoriesHeader {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .allCard {
    .allCardHeader {
      font-size: 35px;
    }
    a {
      .allCardImg {
        border-radius: 40px;
      }
    }
    .card-body {
      .allCardLocation {
        font-size: 24px;
      }
      .allCardDate {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 768px) {
  .storiesCategoryHeading {
    font-size: 80px;
  }
  .featuredCardHeader {
    font-size: 20px;
  }
  .featuredCatCard {
    margin-left: 0px;
    margin-right: 0px;
  }
  .allStoriesHeader {
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 28px;
  }
  .allCard {
    .allCardHeader {
      font-size: 30px;
      margin-top: 10px;
    }
    a {
      .allCardImg {
        border-radius: 100px;
        margin-top: 0px;
      }
    }
    .allCardTextBg {
      margin-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .allCardText {
      font-size: 17px;
      padding-left: 0px;
      padding-right: 0px;
    }
    .card-body {
      .allCardLocation {
        margin-top: 26px;
        font-size: 22px;
      }
      .allCardDate {
        font-size: 19px;
      }
    }
  }
}

@media (min-width: 992px) {
  .storiesCategoryHeading {
    font-size: 90px;
  }
  .featuredCardHeader {
    font-size: 31px;
  }
  .allStoriesHeader {
    font-size: 80px;
  }
  .allCard {
    a {
      .allCardImg {
        border-radius: 50px;
        margin-top: 0px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .featuredCardHeader {
    font-size: 36px;
  }
}

/////

.display-enter,
.display-appear {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
}
.display-enter-active,
.display-appear-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
  transition: all var(--timeout);
}
.display-exit {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
}

.display-exit-active {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
  transition: all var(--timeout);
}
