.featuredCardHeader {
  text-align: center;
  font-size: 50px;
  font-family: "Marko One", serif;
}

.allCard {
  width: 20vh;
}

.allCardTitle {
  font-size: 25px;
}

.culinaryCard {
  background-color: yellow;
}
.gearCard {
  background-color: red;
}
.hitchhikingCard {
  background-color: green;
}
.volunteerCard {
  background-color: blue;
}

.allCardText {
  font-size: 18px;
}

.slide-up-appear {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;

  &.slide-up-appear-active {
    opacity: 1;
    transform: translateY(0px);
  }
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-in;
}

@media (min-width: 992px) {
  .featuredCardHeader {
    font-size: 33px;
  }
}
@media (min-width: 1200px) {
  .featuredCardHeader {
    font-size: 39px;
  }
}
