.catCardDeck {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  .catCard {
      margin-left: 10px;
      margin-right: 10px;
    .catCardHeader {
      font-size: 30px;
    }
    .catCardBody {
      .catCardText {
        font-size: 18px;
      }
    }
  }
}
