.site-footer {
  width: 80%;
  padding-top: 60px;
}

.footerHeaders {
  font-family: "Gochi Hand", cursive;
  color: white;
  font-size: 35px;
  text-align: center;
}

.footerWrapCenter {
  text-align: center;
}

.footerLinks {
  font-size: 20px;
  font-family: "Bellota", cursive;
  color: #f7f9fb;
  text-align: center;
}

/// social

.socialAlignCenter {
  justify-content: center;
  margin: 0px;
}

.socialSize {
  font-size: 28px;
  width: 60px;
  height: 60px;
}

.socialLogos {
  justify-content: center;
  display: flex;
  align-items: center;
}

.stackingCol {
  display: block;
}

//// modals
.contactModalBtn,
.letterModalBtn,
.submitButton {
  background-color: #485dcb;
  color: #e7e3d4;
}

////contact form

@media (min-width: 576px) {
  .footerWrapCenter {
    text-align: center;
  }

  .footerLinks {
    font-size: 24px;
  }

  .socialSize {
    font-size: 28px;
    width: 60px;
    height: 60px;
  }

  .socialLogos {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

/////md and up viewp.
@media (min-width: 768px) {
  .footerHeaders {
    font-size: 44px;
  }

  .footerWrapCenter {
    text-align: center;
  }

  .footerLinks {
    font-size: 27px;
  }

  .socialAlignCenter {
    justify-content: center;
    display: flex;
    margin: 0px;
  }

  .socialAlign {
    float: left;
  }

  .socialSize {
    font-size: 28px;
    width: 60px;
    height: 60px;
  }

  .socialLogos {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
