.site-footer {
  width: 100%;
  padding-top: 60px;
}

.footerHeaders {
  font-family: "Gochi Hand", cursive;
  color: white;
  font-size: 30px;
  text-align: center;
}

.footerWrapCenter {
  text-align: center;
}

.footerLinks {
  font-size: 17px;
  font-family: "Bellota", cursive;
  color: #f7f9fb;
  text-align: center;
}
.linksCol {
  padding-right: 35px;
}

/// social

.socialAlignCenter {
  justify-content: center;
  margin: 0px;
}

.socialSize {
  font-size: 24px;
  width: 50px;
  height: 50px;
}

.socialLogos {
  justify-content: center;
  display: flex;
  align-items: center;
}

.stackingCol {
  display: block;
}

//// modals //////////////////

.contactModalBtn,
.letterModalBtn,
.submitButton {
  background-color: #f78888;
  color: #ececec;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.5em 0.5em 2em rgba(0, 0, 0, 0.3);
}

////contact form
.contactHeader {
  background-color: #5ab9ea;

  .contactTitle {
    font-family: "Yellowtail", cursive;
    font-size: 38px;
    color: #f3d250;
    outline: #d79922;
  }
}

.contactFooter {
  background-color: #5ab9ea;
}

.contactLabel {
  color: #272727;
  font-size: 30px;
  font-family: "Gochi Hand", cursive;
}

///// newsletter
.newsletterHeader {
  .newsletterTitle {
    text-align: center;
    font-size: 35px;
    color: #116466;
    font-family: "Itim", cursive;
  }
}
.newsletterBody {
  background-image: url("/blogmaterials/categories/newsletterModal.JPG");
  background-size: cover;
  height: 60vh;
  width: auto;
  .row {
    .background-text {
      position: relative;
      h2 {
        text-align: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 10%);
        font-size: 80px;
        color: #5680e9;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #5680e9;
        text-shadow: 0px 4px 4px #282828;
        font-family: "YellowTail", cursive;
        width: 100%;
      }
    }
  }
}

.validatedText {
  font-family: "Neucha", cursive;
  color: #9a3334;
  font-size: 19px;
  margin-left: 20px;
}

//////////////////

@media (min-width: 576px) {
  .footerWrapCenter {
    text-align: center;
  }

  .footerHeaders {
    font-size: 35px;
  }

  .footerLinks {
    font-size: 24px;
  }

  .socialSize {
    font-size: 28px;
    width: 60px;
    height: 60px;
  }

  .socialLogos {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .newsletterBody {
    .row {
      .background-text {
        h2 {
          transform: translate(-50%, 10%);
          font-size: 55px;
        }
      }
    }
  }
}

/////md and up viewp.
@media (min-width: 768px) {
  .footerHeaders {
    font-size: 44px;
  }

  .footerWrapCenter {
    text-align: center;
  }

  .footerLinks {
    font-size: 27px;
  }
  .linksCol {
    padding-right: 5px;
  }

  .socialAlignCenter {
    justify-content: center;
    display: flex;
    margin: 0px;
  }

  .socialAlign {
    float: left;
  }

  .socialSize {
    font-size: 28px;
    width: 60px;
    height: 60px;
  }

  .socialLogos {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .newsletterBody {
    .row {
      .background-text {
        h2 {
          transform: translate(-50%, 0%);
          font-size: 80px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .socialSize {
    font-size: 33px;
    width: 75px;
    height: 75px;
    margin-left: 10px;
  }
}
