#homeCatHeader {
  font-family: "Acme", sans-serif;
  font-size: 60px;
  text-align: center;
  color: #5da25d;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 4px 4px #282828;
  margin-top: 40px;
}

.homeCategoryDeck {
  .homeCategoryCard {
    .catCardHeader {
      font-size: 38px;
      color: #8fc1e3;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #5da25d;
      text-shadow: 0px 3px 2px #282828;
    }

    .catCardBody {
      background-image: linear-gradient(to bottom right, #e7717d, #5da25d, #d1e8e2);
      .catCardText {
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        color: #272727;
        text-shadow: 0px 1px 2px #ececec;
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 768px) {
  #homeCatHeader {
    font-size: 75px;
  }
  .homeCategoryDeck {
    display: block;
    .homeCategoryCard {
      .catCardHeader {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: 769px) {
  #homeCatHeader {
    font-size: 80px;
  }
  .homeCategoryDeck {
    .homeCategoryCard {
      .catCardHeader {
        font-size: 30px;
      }
      .catCardBody {
        .catCardText {
          font-size: 20px;
        }
      }
    }
  }
}
