.popularHeading {
  font-size: 45px;
  color: #daad86;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #272727;
  text-shadow: 0px 4px 4px #8860d0;
  text-align: center;
  font-family: "Acme", sans-serif;
}

#popularCarousel {
  width: 377px;
  height: 282px;
  border-style: solid;
  border-color: #f7f9fb;
}

.carouselImg {
  width: 375px;
  height: 279px;
}

.carouselCaptionHeading {
  font-family: "Gochi Hand", sans-serif;
  font-size: 39px;
  color: #ffcb9a;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #272727;
  text-shadow: 1px 3px 4px #9a3334;
}

.carouselCaptionText {
  font-size: 16px;
  font-family: "Chelsea Market", cursive;
  text-shadow: 0px 2px 2px #d1e8e2;
  color: #8860d0;
  background-color: #f7f9fbd0;
}

@media (min-width: 500px) {
  .popularHeading {
    font-size: 60px;
  }
  #popularCarousel {
    width: 500px;
    height: 400px;
  }
  .carouselImg {
    width: 498px;
    height: 397px;
  }
  .carouselCaptionHeading {
    font-size: 45px;
  }
  .carouselCaptionText {
    font-size: 19px;
  }
}

@media (min-width: 500px) {
}

@media (min-width: 768px) {
  .popularHeading {
    font-size: 90px;
  }
  #popularCarousel {
    width: 650px;
    height: 510px;
  }
  .carouselImg {
    width: 648px;
    height: 507px;
  }
  .carouselCaptionHeading {
    font-size: 65px;
  }
  .carouselCaptionText {
    font-size: 26px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
