.mapHeading {
  font-family: "Neucha", cursive;
  font-size: 45px;
  color: #9a3334;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9a3334;
  text-shadow: 1px 3px 4px #272727;
  text-align: center;
  padding-bottom: 20px;
}

#googleMap {
  border-radius: 10%;
  border-style: solid;
  border-color: #379683;
}

@media (min-width: 576px) {
  .mapHeading {
    font-size: 60px;
  }
}
