.mapHeading {
  font-family: "Neucha", cursive;
  font-size: 45px;
  color: #9A3334;
  text-align: center;
  padding-bottom: 20px;
}

@media (min-width: 576px) {
  .mapHeading {
    font-size: 60px;
  }
}
