.popularHeading {
  font-family: "Acme", sans-serif;
  font-size: 100px;
  text-align: center;
  color: palevioletred;
}

.carouselCard {
  width: 650px;
  height: 470px;
  .card-img {
    width: 648px;
    height: 468px;
  }
}

.carouselCaptionHeading {
  font-family: "Acme", sans-serif;
  font-size: 70px;
  color: rgba(236, 230, 230, 0.795);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 4px 4px #282828;
}

.carouselCaptionText {
  font-size: 24px;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(247, 226, 211);
  text-shadow: 0px 4px 4px #282828;
  color: rgb(22, 15, 10);
}
