@import "~bootstrap/scss/bootstrap";
@import "NavbarStyles.scss";
@import "AboutMe.scss";
@import "HomePopularCarousel.scss";
@import "InspirationalQuote.scss";
@import "HomeCategoryCards.scss";
@import "HomeGearCategory.scss";
@import "FooterStyles.scss";
@import "SortButtons.scss";
@import "BlogStyles.scss";
@import "CatBackgrounds.scss";
@import "Fonts.scss";
@import "Map.scss";
@import "AllArticles.scss";
@import "CategoryCards.scss";
//// themes ///

$nature-darkgreen: #687864;
$nature-darkblue: #31708e;
$nature-bluegray: #5085a5;
$nature-lightblue: #8fc1e3;
$nature-white: #f7f9fb;
$nature-blue: #659dbd;
$nature-tan: #daad86;
$nature-brown: #bc986a;
$nature-offwhite: #fbefc2;
$colorful-green: #41b3a3;
$colorful-green2: #379683;
$colorful-blue: #485dcb;
$colorful-redorange: #f78888;
$colorful-yellow: #f3d250;
$colorful-white: #ececec;
$colorful-lightblute: #90ccf4;
$colorful-darkblue: #5da25d;
$inviting-red: #e7717d;
$inviting-gray: #c2cad0;
$inviting-tan: #c2b9b0;
$inviting-brown: #7e685a;
$striking-blue: #66fcf1;
$striking-bluegreen: #45a29e;
$artsy-gold: #d79922;
$artsy-tan: #efe2ba;
$artsy-blue: #4056a1;
$artsy-lightblue: #c5cbe3;
$sleek-blue: #116466;
$sleek-gold: #ffcb9a;
$sleek-tan: #d9b08c;
$sleek-lightblue: #d1e8e2;
$sleek-darkgreen: #116466;
$innovate-black: #272727;
$innovate-gray: #747474;
$clean-blue: #5680e9;
$clean-gray: c1c8e4;
$energy-bluegreen: #84ceeb;
$energy-blue: #5ab9ea;
$energy-purple: #8860d0;
$winter-blue: #3b8beb;
$winter-offwhite: #e7e3d4;
$winter-lightblue: #c4dbf6;
$winter-gray: #8590aa;

///// global ////

html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom, rgb(36, 30, 30), rgb(137, 138, 130), rgb(52, 49, 42));
  width: 100%;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #45a29e;
  opacity: 0.8;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

////// Media Queries ////////
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
