@import "~bootstrap/scss/bootstrap";
@import "NavbarStyles.scss";
@import "AboutMe.scss";
@import "HomePopularCarousel.scss";
@import "InspirationalQuote.scss";
@import "HomeCategoryCards.scss";
@import "HomeGearCategory.scss";
@import "FooterStyles.scss";
@import "SortButtons.scss";
@import "BlogStyles.scss";
@import "CatBackgrounds.scss";
@import "Fonts.scss";
@import "Map.scss";
@import "AllArticles.scss";
@import "CategoryCards.scss";

///// global ////

html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom, rgb(36, 30, 30), rgb(137, 138, 130), rgb(52, 49, 42));
  width: 100%;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}

////// Media Queries ////////
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
